/* MAGANA, Dylan G. */
/* 02/13/2024 */


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', system-ui;
    color: #60392C;
    letter-spacing: 2px;
}

audio {
    opacity: 0;
    width: 0;
}

body {
    padding: 0;
    margin: 0;

    background-color: transparent;
    background-image: url('sprites/background.jpg');
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: 1fr; /* 1 row */
    gap: 10px;

    background-color: #FFFDD0;
    border: solid 8px #60392C;
    border-radius: 5px;
}

.header {
    margin: auto auto;
    font-size: 17.5px;
}

.sunflower-grid {
    width: 400px;
    height: 400px;
    margin: 10px auto;

    display: grid;
    grid-template-columns: 100px 100px 100px;
    place-items: center;
    gap: 10px;

    justify-content: space-around;
}


.sunflower {
    /* background-color: blue; */

    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: 1fr; /* 1 row */
  }

.sunflower .head {
    width: 100px;
    height: 75px;

    background-color: transparent;
    background-image: url('sprites/sunflower_head.png');
    background-size: cover;
    background-position: center;
    border: none;
    
    transition: transform 0.1s ease-in-out;
}

.sunflower .head:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.sunflower .body {
    width: 100px;
    height: 100px;
    background-color: transparent;
    background-image: url('sprites/sunflower_body.png');
    background-size: cover;
    background-position: center;
    border: none;
    margin: 0px;
    padding: 0px;
}

.message {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.tang {
    margin-left: 15px;
    width: 75px;
    height: 85px;

    background-color: #60392C;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.tangButton {
    width: 60px;
    height: 70px;

    background-color: transparent;
    background-image: url('sprites/dylan_sprite.png');
    background-size: cover;
    background-position: center;
    border: none;

    transition: transform ease-in-out 0.1s;
}

.tangButton:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.messageBox {
    width: 275px;
    margin: 0;

    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* MAGANA, Dylan G. */
/* 02/13/2024 */